<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first.oralev10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TeteEtCou"
            android:label="@string/title_activity_tete_et_cou"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EpolesEtPoitrine"
            android:label="@string/title_activity_epoles_et_poitrine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DosEtDerriere"
            android:label="@string/title_activity_dos_et_derriere"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ventre"
            android:label="@string/title_activity_ventre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PartiesPrives"
            android:label="@string/title_activity_parties_prives"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Jambes"
            android:label="@string/title_activity_jambes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bras"
            android:label="@string/title_activity_bras"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CorpsEntier"
            android:label="@string/title_activity_corps_entier"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>